*.*~
*.db
*.log
*.pyc
*.swo
*.swp
*.vim
*.bak

local_config.coffee
ve
src
build
*.sqlite

**/.DS_Store
nbproject
manifest.mf
build.xml
fabconf.py

.project
.settings
.vagrant
.idea/*

node_modules/*
npm-debug.log
local.json

target

*.sublime-project
*.sublime-workspace

readme_nli.txt
.pydevproject

cloudml.egg-info*
*coverage
local_config.py