*.*~
*.db
*.log
*.pyc
*.swo
*.swp
*.vim
_build
*.bak
*.dat
local_config.coffee
ve


**/.DS_Store
nbproject
manifest.mf
build.xml

.project
.settings
.idea/*

_public
node_modules/*
npm-debug.log

*.sublime-project
*.sublime-workspace

