Flask==0.9
Flask-SQLAlchemy
flask-restful
Jinja2==2.6
SQLAlchemy
Werkzeug==0.8.3
numpy
scipy
scikit-learn
-e git+https://github.com/tobiasandtobias/flask-alembic.git#egg=flask-alembic
Flask-Script
django-fabdeploy-plus==0.3.6
psycopg2
jsonpath
fabric==1.4
celery==3.0
supervisor
