<div>
  <div>
    <h2>{{ test_name|capfirst }} Examples List</h2>
    <table class="table table-striped">
        <thead>
          <tr>
            <th>Group By Field: {{ field_name }}</th>
            <th>Count of examples</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="data in objects | filter:search | orderBy:'id'" ng-class="{success : data.data_input['hire_outcome']=='1', error : !(data.data_input['hire_outcome']=='1')}">
            <td><a href="#/models/{{ model_name }}/tests/{{ test_name }}/examples/?group_by_field={{ data.group_by_field }}">{{ data.group_by_field }}</a></td>
            <td><span>{{ data.count }}</span></td>
          </tr>
        </tbody>
    </table>
  </div>
</div>
