<breadcrumb path="path"></breadcrumb>
<h2>
  {{ model.name|capfirst }} Details
  <a class="actions">
    <span ng-click="test(model)" class="btn">
      <i title="Apply the classifier to the input provided by the data import handler"  class="status-icon icon-play"></i>
      <small> TODO: run test</small>
    </span>
</a>
</h2>

<ul class="nav nav-tabs" id="tabs">
  <li  ng-class="{active: action[0] == 'model'}"><a ng-click="action = ['model', 'details']">Details</a></li>
  <li ng-class="{active: action[0] == 'weights'}"><a  ng-click="action = ['weights', 'file']">Parameters Weights</a></li>
  <li ng-class="{active: action[0] == 'test'}"><a  ng-click="action = ['test', 'list']">Tests</a></li>
  <li ng-class="{active: action[0] == 'features'}"><a ng-click="action = ['features', 'file']">Features</a></li>
  <li ng-class="{active: action[0] == 'import_handler'}"><a  ng-click="action = ['import_handler', 'file']">Import Handler</a></li>
</ul>
 
<div class="tab-content">
  <div ng-show="action[0] == 'model'" id="details">
    <div class="row">
        <div class="span6">
            <div>
                Created at:
                <span class="value">
                    {{ model.created_on|format_date }}
                </span>
            </div>
            <div>
                Latest Test:
                <span><a class="value"  href="#/models/{{ model.name }}/tests/{{ tests[tests.length-1].name }}">{{ tests[tests.length-1].name }}</a> | 
                  <a class="value"  href="#/models/{{ model.name }}/tests/{{ tests[tests.length-1].name }}/examples">examples</a>
                </span>
            </div>
        </div>
    </div>
  </div>

  <div ng-show="action[0] == 'test'" id="tests">
    <h3>Tests</h3>
    <table class="table table-striped">
      <thead>
          <tr>
            <th>Name</th>
            <th>Created</th>
            <th>Filter Parameters</th>
            <th>Accuracy</th>
            <th>Examples count</th>
          </tr>
      </thead>
      <tbody>
        <tr ng-repeat="test in tests | filter:search | orderBy:'-id'">
          <td><a href="#/models/{{ model.name }}/tests/{{ test.name }}">{{ test.name }}</a></td>
          <td>{{ test.created_on|format_date }}</td>
          <td>{{ test.parameters }}</td>
          <td>{{ test.accuracy.toFixed(4) }}</td>
          <td>{{ test.data_count }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div  ng-show="action[0] == 'weights'" id="weights">
    <div class="row">
        <div class="span12">
              <div class="row">
              <div class="span5">
                <h4>Positive Weights</h4>
                <div><a><b>List</b></a> | <a>Tree - todo</a></div>
                <weights-table weights="model.positive_weights">
                </weights-table>
              </div>
              <div class="offset1 span5">
                <h4>Negative Weights</h4>
                <div><a><b>List</b></a> | <a>Tree - todo</a></div>
                <weights-table weights="model.negative_weights">
                </weights-table>
              </div>
            </div>
        </div>
    </div>
  </div>
  <div ng-show="action[0] == 'import_handler'" id="import_handler">
    <textarea ui-codemirror="{ mode: {name: 'javascript', json: true} }" ng-model="model.import_handler"> </textarea>
  </div>
  <div ng-show="action[0] == 'features'"  id="features">
    <textarea ui-codemirror="{ mode: {name: 'javascript', json: true} }" ng-model="model.features"> </textarea>
  </div>
</div>
