<breadcrumb path="path"></breadcrumb>
<h2>
  Model List
  <div class="actions">
  <a class="btn" href="#/upload_model">
    <i class="status-icon icon-upload"></i><small> Upload new model</small>
  </a>
  </div>
</h2>
</h2>
<div ng-app="ng-app">
    <p>{{ error.response.error.message }}</p>
    <p>{{ msg }}</p>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Name</th>
        <th>Created</th>
        <th>Params</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="model in models | filter:search | orderBy:'name'">
        <td><a href="#/models/{{ model.name }}">{{ model.name }}</a></td>
        <td>{{ model.created_on|format_date }}</td>
        <td><span ng-repeat="param in model.import_params">{{ param|capfirst }} </span></td>
        <td><i title="Apply the classifier to the input provided by the data import handler" class="status-icon icon-play btn" ng-click="test(model)"></i>
        </td>
      </tr>
      </tbody>
    </table>
</div>
