<breadcrumb path="path"></breadcrumb>
<h2>
  Upload Trained Model
  <small>
      <a ng-href="#" href="#">(Cancel)</a>
  </small>
</h2>
<form name="UploadModelForm" class="form-horizontal">
  <p class="lead">
    Please upload pickled trained model and define import handler.
  </p>
  <div class="control-group" ng-class="{error: UploadModelForm.name.$invalid}">
    <label class="control-label">Name</label>
    <div class="controls">
      <input type="text" name="name" ng-model="name" required>
      <span ng-show="UploadModelForm.name.$error.required" class="help-inline">
        Required</span>
    </div>
  </div>
  <div class="control-group" ng-class="{error: !file}">
    <label class="control-label">File name</label>
    <div class="controls">
      <input type="file" name="file" ng-model="model.file" onchange="angular.element(this).scope().setFile(this)">
      {{ file }}
      <span ng-show="!file" class="help-inline">
          Required</span>
    </div>
  </div>
  <div class="control-group" ng-class="{error: !import_handler_local}">
    <label title="local file or s3 or http address" class="control-label">Import Handler</label>
    <div class="controls">
      <input type="file" name="import_handler_local" ng-model="model.import_handler_local" onchange="angular.element(this).scope().setImportHandlerLocalFile(this)">
      {{ import_handler_local }}
      <span ng-show="!import_handler_local" class="help-inline">
          Required</span>
    </div>
  </div>

  <br />
  <a href="#/models" class="btn">Cancel</a>
  <button ng-click="upload()" ng-disabled="UploadModelForm.$invalid || !file || !import_handler_local"
          class="btn btn-primary">Upload</button>
</form>


    <input placeholder="s3 or http address" type="text" name="import_handler_url" ng-model="model.import_handler_url" >