<h2>
  Model List
  <div class="actions">
  <a class="btn" href="#/upload_model">
    <i class="status-icon icon-upload"></i><small> Upload trained model</small>
  </a>
  <a class="btn" href="#/add_model">
    <i class="status-icon icon-upload"></i><small> Add new model</small>
  </a>
  </div>
</h2>

<div ng-app="ng-app" ng-controller="ObjectListCtrl">
  <div ng-init="init({objectLoader: loadModels()})">
    <div ng-show="objects.length == 0">
      <p>No models to display.</p>
    </div>
    <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Status</th>
        <th>Created</th>
        <th>Params</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="model in objects" ng-class="{success : model.status=='Trained', warning : model.status =='New', info : model.status =='Training', error : model.status =='Error'}">
        <td><a href="#/models/{{ model.name }}">{{ model.name }}</a></td>
        <td>{{ model.status }}</td>
        <td>{{ model.created_on|format_date }}</td>
        <td><span ng-repeat="param in model.import_params">{{ param|capfirst }} </span></td>
        <td ng-controller="ModelActionsCtrl">
          <div ng-init="init({model: model})">
            <button ng-show="model.status == 'Trained'" ng-click="test_model(model)" class="btn btn-success">
              <i title="Apply the classifier to the input provided by the data import handler" class="status-icon icon-play"></i>
            </button>
            <button ng-show="model.status == 'New'" ng-click="train_model(model)" class="btn btn-info">
              <i title="Train your model" class="icon-tasks"></i>
            </button>
          </div>
          <i ng-show="model.status == 'Training'" class="icon-large icon-refresh" title="Training model is in progress"></i>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
</div>