<h2>
  Model List
  <div class="actions">
  <a class="btn" href="#/upload_model">
    <i class="status-icon icon-upload"></i><small> Upload new model</small>
  </a>
  <a class="btn" href="#/add_model">
    <i class="status-icon icon-upload"></i><small> Train new model</small>
  </a>
  </div>
</h2>

<div ng-app="ng-app" ng-controller="ObjectListCtrl">
  <div ng-init="init({objectLoader: loadModels()})">
    <div ng-show="objects.length == 0">
      <p>No models to display.</p>
    </div>

    <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Created</th>
        <th>Params</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="model in objects">
        <td><a href="#/models/{{ model.name }}">{{ model.name }}</a></td>
        <td>{{ model.created_on|format_date }}</td>
        <td><span ng-repeat="param in model.import_params">{{ param|capfirst }} </span></td>
        <td><i title="Apply the classifier to the input provided by the data import handler" class="status-icon icon-play btn" ng-click="test(model)"></i>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
</div>